{% extends "parent.html"%}

{% block content%}
  <div style="margin-top :150px; text-align: center;">
    <h1>Add a product for the bar</h1>
      {% with messages = get_flashed_messages(with_categories=true, category_filter="info")%}
    {% if messages %}
      <ul class="flashes">
        {% for c, m in messages %}
          <p class="flash_message" style="color: Red;">{{c}} : {{m}}</p>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
    <form novalidate style="text-align: center;" action="/addStock" method="POST">
      {{form.csrf_token}}

      {{form.name.label}}<br>
      {{form.name}}<br>

      {{form.quantite.label}}<br>
      {{form.quantite}}<br>

      {{form.type.label}}<br>
      {{form.type (class="form-control-lg")}}<br>

      {{form.tarif.label}}<br>
      {{form.tarif}}<br><br>

      {{form.submit (class="btn btn-primary")}}
    </form>

    <a href="/stock">Cancel</a>

  </div>
{% endblock%}
