{% extends "parent.html" %}
{% import "macro_form.html" as macros%}

{% block content %}
  <script type="text/javascript">
    // Function to add a player line according to a team
    function addPlayerline(playerJS){
      // take info back
      var pseudo = playerJS.pseudo;
      var id = playerJS.id;
      var admin = playerJS.admin;
      // First add a row
      var tmp = "<tr class='playerRow' id="+id+"></tr>";
      $("#playersTable").append(tmp);
      // Add a cell for the name
      tmp = "<td>"+pseudo+"</td>";
      $("#"+id).append(tmp);
      // Add a cell if the current_user is admin to delete a player
      if(admin){
        var url = "/deleteFromTeam/id="+id;
        var confirmDel = "return confirm('Delete the player "+pseudo+" from his team ?')";
        var del = '<a class="delete" href="'+url+'" onclick="'+confirmDel+'">Delete</a>';
        tmp = '<td class="options">'+del+'</td>';
        $("#"+id).append(tmp);
      }
    }
    // Function to modify a player table according to a team
    function playersTeam(idList, name_team){
      // Case with no players
      if(idList.length == 0){
        // Add a row for information
        var tmp = "<tr class='info'></tr>";
        $("#playersTable").append(tmp);
        // Add a cell to say there is no player
        tmp = "<td>There is no player in team "+name_team+".</td>"
        $("tr.info").append(tmp);
      // Case with players
      }else{
        $.each(idList, function(index, value){
          $.ajax({
            data : {
              id : value
            },
            type : "POST",
            url : "/askPlayerInfo",
            success : function(data){
              // playerJS has all the information of the player
              playerJS = JSON.parse(data);
              addPlayerline(playerJS);
            }
          })
        })
      }
    }
    // main function
    $(document).ready(function(){
      // Fonction to take the players in a team
      $("button.teamView").click(function(){
        // Step 1 : remove the current rows of the table player
        $("#playersTable").find("tr:gt(0)").remove();
        // Step 2 : get back the name of the team
        var name_team = $(this).attr("id");
        $("#teamName").empty();
        var txt = "Players for the team "+name_team;
        $("#teamName").append(txt);
        // Step 3 : get the id list of the players in this team under JSON format
        $.ajax({
          data : {
            name : name_team
          },
          type : "POST",
          url : "playersInTeam",
          success : function(data){
            // We have the ids in a string array
            var idList = JSON.parse(data);
            playersTeam(idList, name_team);
          }
        })
      })
    })
  </script>

  <div class="content" style="margin-top: 70px;">
    <h1>Teams page</h1>

    {% with messages = get_flashed_messages(with_categories=true, category_filter="info")%}
      {% if messages %}
        <ul class="flashes">
          {% for c, m in messages %}
            <li class="flash_message" style="color: Red;">{{c}} : {{m}}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <h3>Teams</h3>
    <table border="collapse" class="table" id="teams">
      <tr class="thead-light">
        <th>Name</th>
        <th>Options</th>
      </tr>
        {% for team in teams %}
          {{macros.showTeam(team, current_user)}}
        {% endfor %}
        {% if not teams %}
        <tr>
          <td>No team left.</td>
        </tr>
        {% endif %}
    </table>

    <a href="#addTeam">Add a team</a>

    <h3 id="teamName">Players</h3>
    <table class="table" id="playersTable" border="collapse">
      <tr class="thead-light">
        <th>Pseudo</th>
        {% if current_user.isAdmin() %}
          <th>Option</th>
        {% endif %}
      </tr>
      <tr>
        <td>Please select a team.</td>
      </tr>
    </table>
  </div>
{% endblock %}
