{% macro showPlayer(player, current_user) %}
  <tr>
    <td>{{ player.pseudo }}</td>
    <td>
      {% if player.isAdmin()%}
        ADMIN
      {% else %}
        MEMBRE
      {% endif %}
    </td>
    {% if current_user.isAdmin() %}
      <td> <a class="delete" href="/deletePlayer/id={{player.getId()}}" onclick="return confirm('delete {{player.getUsername()}} ?')">Delete</a></td>
    {% endif %}
  </tr>
{% endmacro %}

{% macro showTeam(team, current_user)%}
  <tr>
    <td>{{team.getName()}}</td>
    <td>
      <button type="button" class="teamView" id="{{team.getName()}}">View players</button>
      {% if current_user.isAdmin()%}
        <a href="/deleteTeam/nom={{team.getName()}}" class="deleteTeam" onclick="return confirm('delete {{team.getName()}} ?')">Delete</a>
      {% endif %}
    </td>
  </tr>
{% endmacro %}

{% macro showComm(comm) %}
  <tr>
    <td>{{comm.getAuthor()}}</td>
    <td>{{comm.getDate()}}</td>
    <td>{{comm.getMessage()}}</td>
  </tr>
{% endmacro %}

{% macro showProd(prod)%}
  <tr>
    <td>{{prod.getName()}}</td>
    <td>{{prod.getType()}}</td>
    <td>{{prod.getPrice()}}</td>
  </tr>
{% endmacro%}

{% macro showStock(prod)%}
  <tr>
    <td>{{prod.getName()}}</td>
    <td>{{prod.getType()}}</td>
    <td>{{prod.getQuant()}}</td>
    <td>
      <a href="/deleteProd/id={{prod.getId()}}">Delete</a>
      <a href="/editProduct/id={{prod.getId()}}">Edit</a>
    </td>
  </tr>
{% endmacro%}
